div(class='vroom-container', ng-click='listen()')
    //div(class='header')
    //    img(src='images/Fuel-256.png', class='fuel-icon')
    
    div(class='visible-module test-gauge car-module')
        h1(class='fuel-level-title') Fuel Level
    
    div(class='visible-module')
        div(class='status-container default', ng-hide='hidden', ng-class='{fade: startFade}')
            //img(src='images/check-symbol.png', class='status')
            //h1(class='status-message') Best time to refuel
            //img(src='', class='status default', ng-hide='hidden', ng-class='{fade: startFade}')
            img(src='', class='status')

    div(class='footer')
        img(src='images/mic-green.png', class='mic-icon')
        h3(class='user-input')
