div(class='vroom-container')
    div(class='header')
        img(src='images/Fuel-256.png', class='fuel-icon')
    
    div(class='visible-module test-gauge car-module')
    
    div(class='visible-module')
        div(class='status-container')
            //img(src='images/check-symbol.png', class='status')
            img(src='', class='status')

    div(class='footer')
        img(src='images/mic-white.png', class='mic-icon')
        h3(class='user-input')

div(class='testing')
    //h1 Test
    //button(ng-click='burnRubber()') Burn Rubber!
    //button(ng-click='refuel()') Refuel
    //button(ng-click='turnCarOff()') Stop Driving
    h1 {{receivedWords}}
    button(ng-click='listen()') Speak
