div(class='vroom-container')
    //div(class='header')
    //    img(src='images/Fuel-256.png', class='fuel-icon')
    
    div(class='visible-module test-gauge car-module')
        h1(class='fuel-level-title') Fuel Level
    
    div(class='update')
        h1 LOADING DIRECTIONS        

    div(class='footer')
        img(src='images/mic-green.png', class='mic-icon')
        h3(class='user-input')

div(class='testing')
    //h1 Test
    //button(ng-click='burnRubber()') Burn Rubber!
    //button(ng-click='refuel()') Refuel
    //button(ng-click='turnCarOff()') Stop Driving
    button(ng-click='listen()') Speak
