div(class='vroom-container')
    div(class='header')
        h1 SELECT YOUR FUEL TYPE

    div(class='fuel-selection-container')
        div(class='fuel-option')
            img(src='images/Fuel-256.png')
            h2 '"GAS"'
        div(class='fuel-option')
            img(src='images/Charging-Station-256.png')
            h2 '"ELECTRIC"'
        div(class='fuel-option')
            img(src='images/leaf-station-500.png')
            h2 '"BIODIESEL"'

    div(class='footer')
        img(src='images/alert-icon.png')
        h3(class='user-input')
