div(class='vroom-container')
    div(class='select-fuel-header')
        h1 SELECT YOUR FUEL TYPE

    div(class='fuel-selection-container')
        div(class='fuel-option')
            //- img(src='images/Fuel-256.png')
            span UNLEADED
        div(class='fuel-option')
            //- img(src='images/Charging-Station-256.png')
            span DIESEL
        div(class='fuel-option')
            //- img(src='images/leaf-station-500.png')
            span ETHANOL
        div(class='fuel-option')
            //- img(src='images/leaf-station-500.png')
            span PREMIUM

    div(class='footer')
        img(src='images/mic-white.png', class='mic-icon')
        h3(class='user-input')
