div(class='vroom-container', ng-click='listen()')
    div(class='select-fuel-header')
        //h1(class='done') "DONE"
        h1 Choose fuel types to be recommended:

    div(class='fuel-selection-container')
        div(class='fuel-option')
            span "UNLEADED"
        div(class='fuel-option')
            span "DIESEL"

    div(class='footer')
        img(src='images/mic-green.png', class='mic-icon')
        h3(class='user-input')
