div(class='vroom-container', ng-click='listen()')
    div(class='select-fuel-header')
        h1(class='done') "DONE"
        h1 Choose fuel types to be recommended:

    div(class='fuel-selection-container')
        div(class='fuel-option')
            //- img(src='images/Fuel-256.png')
            span "UNLEADED"
        div(class='fuel-option')
            //- img(src='images/Charging-Station-256.png')
            span "DIESEL"
        //div(class='fuel-option')
            //- img(src='images/leaf-station-500.png')
            //span "ETHANOL"
        div(class='fuel-option')
            //- img(src='images/leaf-station-500.png')
            span "PREMIUM"

    div(class='footer')
        img(src='images/mic-green.png', class='mic-icon')
        h3(class='user-input')

    div(class='testing')
        h1 {{receivedWords}}
        button(ng-click='listen()', type='submit') Speak
