div(class='gas-module')
    div(class='left')
        div  Select A Gas Station
    div(class='right')
        div(class='station chevron')
            img(src='images/ChevronFinal.png', class='gas-station')
            div $2.50/GAL   1.0 MI
        div(class='station shell')
            img(src='images/ShellFinal.png', class='gas-station')
            div $2.89/GAL .25 MI

div(class='footer')
    img(src='images/mic-white.png', class='mic-icon')
    h3(class='user-input')

div(class='testing')
        h1 {{receivedWords}}
        button(ng-click='listen()') Speak
