div(class='gas-module', ng-click='listen()')
    div(class='gas-station chevron')
        div 
            img(src='images/ChevronFinal.png', class='gas-station-image')
            span(class='gas-station-name') 
                |   "CHEVRON" 
            h1(class='gas-station-details')
                |${{cheapestPrice}}/Gallon | {{cheapestDistance}}

    div(class='gas-station shell')
        div 
            img(src='images/ShellFinal.png', class='gas-station-image')
            span(class='gas-station-name')
                |   "SHELL"
            h1(class='gas-station-details') 
                |${{closestPrice}}/Gallon | {{closestDistance}}

div(class='footer')
    img(src='images/mic-green.png', class='mic-icon')
    h3(class='user-input')
