div(class='gas-module', ng-click='listen()')
    div(class='gas-station chevron')
        div 
            span(class='gas-station-name') 
                |   CHEVRON 
            br 
            |${{cheapestPrice}}/Gallon | {{cheapestDistance}}

    div(class='gas-station shell')
        div 
            span(class='gas-station-name')
                |   SHELL
            br 
            |${{closestPrice}}/Gallon | {{closestDistance}}

div(class='footer')
    img(src='images/mic-green.png', class='mic-icon')
    h3(class='user-input')
