doctype
html(ng-app='vroomApp')
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='bower_components/angular/angular.min.js')
        script(src='bower_components/angular-route/angular-route.min.js')
        script(src='bower_components/d3/d3.min.js')
        script(src='js/app.js')
        script(src='js/controllers/MainController.js')
        script(src='js/controllers/FuelGaugeController.js')
        script(src='js/controllers/ConfirmLocationController.js')
        script(src='js/controllers/StationListController.js')
        script(src='js/controllers/SelectFuelTypeController.js')
        script(src='js/modules/car-gauge.js')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?.exp&signed_in=true')  
        //script(src='js/modules/myGasFeed.js') // myGasFeed can't GET via HTTPS
        script(src='js/modules/testGasFeed.js') // for testing
    body
        block body
