@import 'nib'

global-reset()

main-color = #2ecc71
background-color = #3f3f3f
custom-font = neutra

// custom font
@font-face
    font-family neutra
    src url(../fonts/neutra.eof)
    src url(../fonts/neutra.eot?#iefix) format(embedded-opentype),
        url(../fonts/neutra.woff) format(woff),
        url(../fonts/neutra.ttf) format(truetype),
        url(../fonts/neutra.svg#webfont) format(svg)
    font-weight normal
    font-style normal

body
    font-family custom-font, Helvetica, sans-serif
    background-color background-color
    color #ffffff
    text-align center

.load-page
    text-align center
    font-size 34px

.header
    text-align left

.logo
    width 40%

.fuel-icon
    width 10%

.vroom-container
    width 100%

.visible-module
    background-color background-color 
    width 35%
    margin 0%
    margin-top 1%
    display inline-block
    vertical-align middle

.location-module
    width 80%
    margin-left auto
    margin-right auto

.status-container
    margin-bottom auto
    margin-left auto
    margin-right auto

.gas-module
    width 80%
    margin-left auto
    margin-right auto
    margin-top 10%
    vertical-align middle

.status
    width 50%

.left
    width 40%
    display inline-block
    font-size 60px

.right
    width 40%
    display inline-block

.gas-station
    width 20%
    display inline-block
    margin-top 30px

.testing
    margin-top 40px

.select-fuel-header
    font-size 40px
    margin-top 20px
    text-align middle
