@import 'nib'

global-reset()

main-color = #2ecc71
background-color = #ecf0f1

body
    font-family sans-serif
    background-color background-color
    color #444

.load-page
    text-align center
    font-size 34px

header
    padding 50px 10px
    color #fff
    font-size 34px
    text-align center
    background-color main-color
    border-bottom 1px solid darken(main-color, 30%)
    text-shadow 0px -1px 0px darken(main-color, 30%)
