@import 'nib'

global-reset()

main-color = #96bf70
//background-color = #3f3f3f
background-color = #ffffff
//font-color = #96bf70
font-color = #006600
custom-font = neutra

// custom font
@font-face
    font-family neutra
    src url(../fonts/neutra.eof)
    src url(../fonts/neutra.eot?#iefix) format(embedded-opentype),
        url(../fonts/neutra.woff) format(woff),
        url(../fonts/neutra.ttf) format(truetype),
        url(../fonts/neutra.svg#webfont) format(svg)
    font-weight normal
    font-style normal

body
    font-family custom-font, Helvetica, sans-serif
    background-color background-color
    color font-color
    text-align center

.load-page
    text-align center
    font-size 34px

.header
    text-align left

.logo
    width 40%

.fuel-icon
    width 10%
    margin 10px

.vroom-container
    width 100%

.visible-module
    background-color background-color 
    width 35%
    margin 0%
    margin-top 1%
    display inline-block
    vertical-align middle

// Confirm Location View
.location-module
    width 80%
    margin-left auto
    margin-right auto
    margin-top 80px

.status-container
    margin-bottom auto
    margin-left auto
    margin-right auto

.location-pin
    width 25%

.prompt-question
    font-size 48px

.prompt-location
    font-size 36px
    color font-color

.input-options
    font-size 36px

// fuel gauge view
.gas-module
    width 80%
    margin-left auto
    margin-right auto
    margin-top 10%
    vertical-align middle

.fuel-level-title
    font-size 36px

.dismiss-text
    font-size 20px

.status
    width 30%

.status-message
    font-size 24px

.left
    width 40%
    display inline-block
    font-size 70px

.right
    width 40%
    display inline-block
    vertical-align top

// station list view
.gas-station
    width 49%
    margin-top 40px
    font-size 24px
    color font-color
    display inline-block

.gas-station-label
    font-size 48px
    margin 10px

.gas-station-name
    font-size 48px

.gas-station-image
    width 20%
    display block
    margin-left auto
    margin-right auto
    margin-bottom 10px

.gas-station-details
    font-size 26px

// Select Fuel Type View
.select-fuel-header
    font-size 40px
    margin 50px
    text-align middle

.fuel-selection-container
    display flex
    padding 40px

.fuel-option
    flex-grow 1
    height 150px
    line-height 150px
    margin 20px
    border-radius 20px
    background-color main-color
    vertical-align middle
    color white

.fuel-option > span 
    height 100%
    vertical-align middle
    font-size 36px

.footer
    text-align left

.mic-icon
    width 40px
    margin 20px

.done
    text-align right

.fade
    -webkit-transition opacity 10s
    transition opacity 10s
    opacity 0

.default
    opacity 1

.status-container
    font-size 36px

.alert
    width 50%

.selection
    width 10%

// mic animation
//.transformable
//    -webkit-transition width 1000ms linear
//    -moz-transition width 1000ms linear
//    -o-transition widht 1000ms linear
//    -ms-transition width 1000ms linear
//    transition width 1000ms linear

.small
    width 30px
    -webkit-transition width 2000ms linear
    -moz-transition width 2000ms linear
    -o-transition widht 2000ms linear
    -ms-transition width 2000ms linear
    transition width 2000ms linear


.big
    width 40px
    -webkit-transition width 2000ms linear
    -moz-transition width 2000ms linear
    -o-transition widht 2000ms linear
    -ms-transition width 2000ms linear
    transition width 2000ms linear

